{%extends 'main.html'%}

{%block content%}
<div>
    {%if page == 'Login'%}
    <div>
        <form method="post" action="">
            {%csrf_token%}
            <label>Username:</label>
            <input type="text"  name="username" />
            <label>Password:</label>
            <input type="password" name="password" />
            <input type="submit" value="Login"/>
        </form>
        <p>Not Signed Up yet? <a href="/register">Sign Up</a></p>
    </div>

    {%else%}
    <div>
        <form method="post" action="">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Register"/>
        </form>
        <p>Already Signed Up ? <a href="/login">Log In</a></p>
    </div>
    {%endif%}
</div>
{%endblock content%}