<style>
    .page-wrapper{
        display: grid;
        grid-template-columns: 3fr 1fr ;
    }
</style>
{% extends 'main.html' %}

{%block content%}
<div class="page-wrapper">
    <div>
        <h1>{{room.name}}</h1>

        <p>{{room.desc}}</p>

        <div class="content-wrapper">
            <h3>Comments</h3>
            <hr>

            {%for comment in comments%}
                <div>
                    {%if request.user == comment.user%}
                    <a href='/delete-message/{{comment.id}}'>Delete</a>
                    {%endif%}
                    <small>{{comment.user}} {{comment.created|timesince}} ago</small>
                    <p>{{comment.body}}</p>
                </div>
                <hr>
            {%endfor%}
        </div>

        {%if request.user.is_authenticated%}
        <div class="content-form">
            <form method="post">
                {%csrf_token%}
                <input type="text" name = 'body' placeholder="Enter Message" />
            </form>
        </div>
        {%endif%}
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        {%for participant in participants%}
            <div>
                <p>@{{participant}}</p>
            </div>
        {%endfor%}
    </div>
</div>

{%endblock content%}